<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">

	<!-- Materialize CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<title>Eat It!!</title>
</head>

<body>
	<img src="/assets/images/burger.jpg" width="800px" id="cute_burger">

	{{{ body }}}

	<footer class="burgerFooter">
		<div class="container">
			<span class="grey-text text-lighten-4">Site Design:  Darrell Freeman</span>
			<a class="grey-text text-lighten-4 right" href="https://github.com/nclespaul">Github Portfolio</a>
		</div>
	</footer>
</body>
</html>